<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GestionPersonal.Properties.Settings.masterConnectionString"
            connectionString="Data Source=DESKTOP-VSL0G4K;Initial Catalog=master;User ID=sa;Password=@192ArroZ192@"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>